#wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#title {
    margin-top: 20%;
    font-size: x-large;
}